@mixin flex-adaptive($container: (row, nowrap, center, center), $item: (1, auto, 0, 1, auto)) {
	// Настройки флекс-контейнера
	display: flex;
	flex-direction: nth($container, 1);
	flex-wrap: nth($container, 2);
	justify-content: nth($container, 3);
	align-items: nth($container, 4);
  
	// Настройки флекс-элементов внутри контейнера
	> * {
	  flex: nth($item, 1) nth($item, 3) nth($item, 2);
	  align-self: nth($item, 5);
  
	  // Адаптивные стили для элементов
	  @media (max-width: 800px) {
		flex: 1 1 45%; // Элементы занимают 45% ширины при ширине экрана до 800px
	  }
  
	  @media (max-width: 500px) {
		flex: 1 1 90%; // Элементы занимают 90% ширины при ширине экрана до 500px
	  }
	}
  }
  